html {
  height: 100%;
  width: 100%;
  margin: 20px;
  background-color: #446688;
  font-family: "Arial";
}

div.status-text {
  border: green 1pt solid;
  background-color: green;
}

.book-list {
  display: flex;
  width: 100vw;
  height: 80vh;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  border: 1px solid red;
  margin-bottom: 10px;
  background-color: #996699;
  overflow: scroll;
}

.book {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  text-align: center;
  width: 45%;
  background-color: #f0f0f0;
  padding-bottom: 10px;
}

.book img {
  max-width: 50%;
  margin: 10px;
  height: auto;
}

.book-name {
  font-size: 1.2em;
  font-family: "Courier New";"
  margin-top: 10px;
}

.author {
  color: #555;
}